#alerta{
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  width: 70em;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

.center-button {
  display: flex;
  justify-content: center;
}

button{
  margin-right: 20px;
  margin-left: auto;
}

#alertaBotao:hover {
  transition: all 200ms;
  background-color: #ffffff;
  box-shadow: 4px 4px teal;
  position: relative;
  bottom: 1px;
  right: 1px;
  background: linear-gradient(to right ,#ffffff86 15%, #78eefb86);
}
     
#alertaBotao{
  transition: all 200ms;
  width: 130px;
  height: 30px;
  color: #000000;
  border-color: #000000;
  position: relative;
  border-radius: 9999em;
  margin-left: 0 auto;
  margin-right: auto;
  font-size: 17px;
  font-family : inherit;
  background: linear-gradient(to left ,#ffffff86 15%, #78eefb86);
  border-width: 1px;
}

body{ 
    background-image: url(imagens/fundo.jpg);
    font-family: 'Oswald', sans-serif;  
}


header{
  padding-top: 1em;
  text-align: center;
  background-color: rgb(212, 148, 63);
  margin-top: -20px;
  margin-left: -8px;
  margin-right: -8px;
  font-size: 20px;
  height: 100px;
}

header img{
    width: 140px;
    display: inline-block;
    position: absolute;
    left: 390px;
    top: 15px;
}

#titulo{
  margin-top: 10px;
}

button{
  cursor: pointer;
}

#pizza button{
  width: 300px;
  border-radius: 150px;
  background-color: transparent;
  border-color: transparent;
}

#pizza img{
  width: 300px;
  margin-left: -10px;
}

#pizza h2{
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 2px;
  width: 300px;
  text-align: center;
}

#pizza{
  margin-top: 70px;
  margin-left: 80px;
}

#compras{
  float: right;
  margin-top: -23%;
}

#compras strong{
  font-size: 30px;
  float: right;
  margin-left: 15px;
}